/* Exercício de Fixação: box model 

.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
  }
  
  .width-and-height {
    height: 50px;
    width: 50px;
  }
  
  /* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */
  /* .padding {
  padding: 20px;
  } */
  
  /* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */
  /* .margin {
  margin: 30px;
  } */
  
  /* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */
  /* .border {
    border: 5px solid black;
  
  } */ 

  /* Exercício de Fixação: Posicionamento de elementos */
  /* .super-mario {
    width: 200px;
    display: block;
    position: absolute;
    left: 230px;
  }
  
  .goomba {
    width: 100px;
  }
  
  .baloon {
  
  }
  
  .speech {
    font-size: 25px;
    display: block;
    position: absolute;
    left: 25px;
    top: 120px;
  }
  
  .bowser {
    width: 200px;
  }

  .container {
    position: absolute;
    left: 340px;
    top: 520px;
  } */

  /* Exercício de Fixação: Agrupando seletores */

  h1,p {
    text-align: center;
  }

  li:hover {
    background-color: black;
    color:red
  }

  li:active {
    color:antiquewhite;
    font-weight: bold;
  }