/* Exercícios de exemplo do bloco HTML Semântico

h1 {
    text-align: center;
  }

  .main-container {
    text-align: center;
  }

  ul li{
    list-style: none;
    display: inline-block;
  }
  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    display: block;
    margin: 0 auto;
  }

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px; 
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
  } */


  /* ----------------------------------- // ------------------------------ */

  header {
    background-color: #3AB795;
  }

   .main-title {
    font-size: 30px;
    color: #32292F;
    font-weight: bold;
    padding: 20px;
    text-align: center;
  }

  .main-subtitle {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
  }

  .subtitle {
    font-weight: bold;
    margin-top: 10px;
  }

  .header .nav {
    padding: 5px;
    background-color: #EF5B5B;
  }

  main {
    padding: 10px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding-left: 1rem;
    text-indent: -0.7rem;
  }

  li::before {
    content: "🐚 ";
  }

  .links{
    display:flex;
    justify-content: space-around;
  }

  .image {
    width: 600px;
    opacity: 0.5;
  }
