body {
  background-color: #a7a5e1;
}

.title {
  margin: 15px 80px;
}

.main-container {
  border-radius: 2px;
  width: 800px;
  background-color: white;
  padding: 20px;
  margin: 0 auto;
}

.container {
  margin: 10px 15px;
}

.btn {
  margin-left: 30px;
}

.btn-container {
  width: 400px;
  margin: 15px auto;
}
