/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.header,
.title {
  padding: 15px;
  background-color: #b8336a;
  color: #e5fcff;
  margin-bottom: 15px;
}

article {
  padding: 15px;
}

.card {
  font-size: 20px;
  color: #e5fcff;
  margin-bottom: 15px;
  padding: 12px;
  background-color: #c490d1;
  box-shadow: 3px 3px 5px rgb(155, 155, 155);
}

h1 {
}

h2 {
}

img {
  max-width: 100%;
}

main {
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.8em;
}

@media (min-width: 500px) {
  .main-title {
    font-size: 40px;
  }
  .title {
    font-size: 30px;
  }
  .card {
    max-width: 430px;
    font-size: 25px;
  }
}

@media (min-width: 900px) {
  section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}
